/LICENSE-fml.txt
/Paulscode SoundSystem CodecIBXM License.txt
/Paulscode IBXM Library License.txt
/forge-1.8.9-11.15.1.1722-changelog.txt
/MinecraftForge-Credits.txt
/CREDITS-fml.txt
/MinecraftForge-License.txt
/README.txt
# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
/classes

# other
eclipse
run
