/LICENSE-fml.txt
/Paulscode SoundSystem CodecIBXM License.txt
/Paulscode IBXM Library License.txt
/MinecraftForge-Credits.txt
/CREDITS-fml.txt
/MinecraftForge-License.txt
/README.txt
/forge-1.9.4-12.17.0.1968-changelog.txt

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
/classes

# other
eclipse
run
/gradle/
